@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Public Sans', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'Liberation Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
  }
  :root {
    --background: oklch(0.985 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(0.976 0.0005 143.188);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(0.976 0.0005 143.188);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: #804fe6;
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.92 0.004 286.32);
    --secondary-foreground: oklch(0.37 0.013 285.805);
    --muted: oklch(0.944 0.0025 286.348);
    --muted-foreground: oklch(0.442 0.017 285.786);
    --accent: oklch(0.944 0.0025 286.348);
    --accent-foreground: oklch(0.141 0.005 285.823);
    --destructive: oklch(0.541 0.229 27.422);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.871 0.006 286.286);
    --input: oklch(0.967 0.001 286.375);
    --ring: oklch(0.92 0.004 286.32);
    --chart-1: oklch(0.585 0.23 261.348);
    --chart-2: oklch(0.675 0.207 149.396);
    --chart-3: oklch(0.527 0.277 302.123);
    --chart-4: oklch(0.676 0.218 44.36);
    --chart-5: oklch(0.541 0.229 27.422);
    --radius: 0.5rem;
    --danger: oklch(0.954 0.023 17.549);
    --danger-foreground: oklch(0.444 0.177 26.899);;
    --danger-border: oklch(0.444 0.177 26.899);;
    --warning: oklch(0.98 0.049 102.703);
    --warning-foreground: oklch(0.554 0.135 66.442);
    --warning-border: oklch(0.554 0.135 66.442);
    --info: oklch(0.951 0.023 255.095);
    --info-foreground: oklch(0.488 0.243 264.376);
    --info-border: oklch(0.488 0.243 264.376);
    --success: oklch(0.962 0.044 156.743);
    --success-foreground: oklch(0.448 0.119 151.328);
    --success-border: oklch(0.448 0.119 151.328);
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: oklch(0.141 0.005 285.823);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.176 0.0055 285.854);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.176 0.0055 285.854);
    --popover-foreground: oklch(0.985 0 0);
    --primary: #804fe6;
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.21 0.006 285.885);
    --secondary-foreground: oklch(0.629 0.0155 286.003);
    --muted: oklch(0.242 0.006 285.959);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.242 0.006 285.959);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.322 0.0095 285.919);
    --input: oklch(0.21 0.006 285.885);
    --ring: oklch(0.406 0.015 285.796);
    --chart-1: oklch(0.585 0.23 261.348);
    --chart-2: oklch(0.577 0.174 149.642);
    --chart-3: oklch(0.593 0.277 303.111);
    --chart-4: oklch(0.676 0.218 44.36);
    --chart-5: oklch(0.577 0.245 27.325);
    --danger: oklch(0.22 0.08 26.1);
    --danger-foreground: oklch(0.671 0.214 23.774);
    --danger-border: oklch(0.671 0.214 23.774);
    --warning: oklch(0.24 0.056 52.0);
    --warning-foreground: oklch(0.738 0.173 80.941);
    --warning-border: oklch(0.738 0.173 80.941);
    --info: oklch(0.24 0.08 268.5);
    --info-foreground: oklch(0.665 0.1895 257.22);
    --info-border: oklch(0.665 0.1895 257.22);
    --success: oklch(0.23 0.055 153.0);
    --success-foreground: oklch(0.627 0.194 149.214);
    --success-border: oklch(0.627 0.194 149.214);
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary-main text-white px-4 py-2 rounded-md hover:bg-primary-dark transition-colors;
  }
  
  .btn-secondary {
    @apply bg-secondary-main text-white px-4 py-2 rounded-md hover:bg-secondary-dark transition-colors;
  }
  
  .card {
    @apply bg-white rounded-lg shadow-card p-6;
  }
  
  .input-field {
    @apply border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-primary-light focus:border-transparent;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}